/* styles.css */

/* Home Page */
.glyphicon {
    top: 0px; 
}

.btn {
    display: inline;
}
.btn-default {
    border-color: transparent;
}

.fa-solid, .fas {
    margin-left: 10px;
}

.home {
    text-align: center;
}

/* Change background color of the page */
body {
    background-color: #FFF5EE; /* Background color of the entire page */
}

/* Change background color of the title */
h2.home {
    background-color: #6699CC; /* Background color of the title */
    color: #FFF5EE; /* Text color of the title */
    padding: 10px; /* Padding for better appearance */
}

/* Navbar */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF5EE;
    color: #FFF5EE;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #93b7db;
}

.skin-blue .main-header .navbar {
    background-color: #6699CC;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #75a3d1;
}

.skin-blue .main-header .logo {
    background-color: #6699CC;
    color: #FFF5EE;
    border-bottom: 0 solid transparent;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #FFF5EE;
    background: #6699CC;
    border-left-color: #FFA812;
}

.skin-blue .sidebar a {
    color: #FFF5EE;
}

/* Sidebar Subitems Background */
.skin-blue .sidebar-menu>li>.treeview-menu {
    background: transparent;
}

.skin-blue .main-header .logo:hover {
    background-color: #6699CC;
}

.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover {
    color: #FFA812;
}

.skin-blue .treeview-menu>li.active>a {
    color: #FFA812;
}

.skin-blue .treeview-menu>li>a {
    color: #FFF5EE;
}

/* Column Classes */
[class*="col-"] {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

/* Footer */
.footer {
    height: 50px;
    padding: 10px;
    color: #FFF5EE;
    background-color: #6699CC;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays on top of other elements */
}

/* Row Margin */
.row {
    margin-right: 0;
    margin-left: 0;
}

/* Buttons */
.btn-primary {
    background-color: #6699CC;
    color: #FFF5EE;
}

/* Download Button on DESeq2 Table */
.dt-buttons {
    float: right;
}

/* Title, Info, and Download Button of tabBox */
.nav>li {
    display: inline-flex;
}

.nav>li>a {
    padding: 7px 10px;
}

/* Change Orange Color Boxes */
.bg-orange {
    background-color: #FFA812!important;
}

/* Change Orange Color Boxes Warning */
.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #FFA812;
    background-color: #FFA812;
}
.box.box-solid.box-warning {
    border: 1px solid #FFA812;
}

/* Change Orange Color Boxes Info */
.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #9CB5C9;
    background-color: #9CB5C9;
}
.box.box-solid.box-info {
    border: 1px solid #9CB5C9;
}
.box.box-info {
    border-top-color: #9CB5C9;
}

/* Change Orange Color Boxes Primary */
.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #75a3d1;
    background-color: #75a3d1;
}
.box.box-solid.box-primary {
    border: 1px solid #75a3d1;
}

/* Error Message for Mortality Plot */
.error-message {
    color: #75a3d1;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}


.btn.btn-default.shiny-download-link.shiny-bound-output {
  margin-top: 6px;
}

/* Center the spinner */
.shinybusy {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  height: 100px !important;  /* Adjust the height as needed */
  width: 100px !important;   /* Adjust the width as needed */
  z-index: 9999 !important;  /* Ensure it is on top */

}

/* Adjust the size and color of the spinner circles */
.sk-fading-circle .sk-circle-qcuwigdctlkb:before {
  width: 25px !important;   /* Adjust the size of each circle */
  height: 25px !important;  /* Adjust the size of each circle */
}


/* DL button deseq2 table */

div.dt-buttons {
    padding-left: 10px;
}



/* Padding of the content page */

.content {
    padding-bottom: 75px;
}
