

/* styles.css */





/*home page
*/


.glyphicon {
    top: 0px; 
}

.btn {
    display: inline;
}
.btn-default {
  border-color: transparent;
}

.fa-solid, .fas {
margin-left: 10px;
}

.home{
  text-align: center;
}

/* Change background color of the page */
body {
  background-color: #FFF5EE; /* Change this to the desired background color */
}

/* Change background color of the title */
h2.home {
  background-color: #6699CC; /* Change this to the desired background color */
  color: #FFF5EE; /* Change this to the desired text color */
  padding: 10px; /* Add padding for better appearance */
}





/*-------------------------------------------------*/


.navbar-default .navbar-toggle .icon-bar{

      background-color: #FFF5EE;
      color:#FFF5EE;
}


.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #93b7db;
}

.skin-blue .main-header .navbar {
    background-color: #6699CC;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #75a3d1;
}

.skin-blue .main-header .logo {
    background-color: #6699CC;
    color: #FFF5EE;
    border-bottom: 0 solid transparent;
}


.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #FFF5EE	;
    background: #6699CC;
    border-left-color: #FFA812;
}


.skin-blue .sidebar a {
    color: #FFF5EE;
}



/*Couleur subitems background 
*/.skin-blue .sidebar-menu>li>.treeview-menu
{
  background:transparent;
}


.skin-blue .main-header .logo:hover {
    background-color: #6699CC;
}

x.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #6699CC;
}

.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover {
    color: #FFA812;
}


.skin-blue .treeview-menu>li.active>a{
  color: #FFA812	;
}

.skin-blue .treeview-menu>li>a {
    color: #FFF5EE;
}


[class*="col-"] {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}



.footer {
  height: 35px;
  padding: 10px;
  color:#FFF5EE;
  background-color: #6699CC;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays on top of other elements */
}


.row {
    margin-right: 0;
    margin-left: 0;
}


.btn-primary{
  background-color:#6699CC ;
  color:#FFF5EE;
}